<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension point="com.zutubi.pulse.core.config">
        <config class="com.zutubi.pulse.core.scm.svncl.SvnConfiguration"/>
    </extension>
    <extension point="com.zutubi.pulse.core.scms">
        <scm name="svncl" factory-class="com.zutubi.pulse.core.scm.svncl.SvnClientFactory"/>
    </extension>
</plugin>
